*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0;
    font-family: sans-serif;
    position: relative;
    padding-bottom: 157em;
    min-height: 100vh;
}
header{
    width: 100%;
    min-height: 4px;
    background-color: #f6f6fe;
    position: static;
}
header .container{
    display: flex;
    justify-content:space-around;
    margin-right: 123px;
    margin-left: 123px;
    align-items: center;
    background-color: #f6f6fe;
}
header .container img{
    height: 60px;
}
header .container .buscar{
    position: relative;
}
header .container .buscar input{
    width: 500px;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px;
    border: 3;
    outline: none;
    font-size: 1rem;
}
header .container .buscar button{
    background: black;
    padding: 10px 15px;
    position: absolute;
    border: 3;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 0 5px 5px 0;
    color: white;
    cursor: pointer;
}
header .container .buscar button:hover{
    background-color: red;
}