@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/imagenes/1.jpg);
}

.contenedor{
    width: 330px;
    padding: 2rem 1rem;
    margin: 162px auto;
    background-color: #D358F7;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
}

form input{
    width: 92%;
    outline: none;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #e4e4e4;
}

label{
    font-size: 20px;
    float: left;
    font-weight: bold;
}

.button{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.button:hover{
    background-color: #9065CA;
    color: #fff;
}

.Boton_Ingresar{
    color: aliceblue;
    font-size: 20px;
}

.button2{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: rgb(243, 243, 243);
    cursor: pointer;
}

.button2:hover{
    background-color: #9065CA;
    color: #fff;
}